.about {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    background-image: url('https://instadriver.co/img/imgsmall.png');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center ;
}