.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3B3B3B;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
}

.menu-btn .menu-name {
    padding-right: 10px;
}

@media only screen and (max-width: 660px) {
    .menu-btn {
        background-color: #FED136;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        width: 94px;
        height: 35px;
    }
}