.footer-links {
    text-align: left;
    flex-basis: 16%;
    margin-left: 20px;
}

.footer-links .link {
    display: block;
    text-decoration: none;
    color: #C7C6BF;
}

.footer-links .link:hover {
    color: #fed136;
    text-decoration: underline;
}

.footer-links h4 {
    color: #fff;
}